<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ba7lgj.ccp.core.mapper.MiniUserMapper">

    <resultMap id="MiniUserResult" type="org.ba7lgj.ccp.common.domain.MiniUser">
        <id property="id" column="id" />
        <result property="openId" column="open_id" />
        <result property="unionId" column="union_id" />
        <result property="nickName" column="nick_name" />
        <result property="avatarUrl" column="avatar_url" />
        <result property="phone" column="phone" />
        <result property="realName" column="real_name" />
        <result property="idCardName" column="id_card_name" />
        <result property="idCardNumber" column="id_card_number" />
        <result property="faceImageUrl" column="face_image_url" />
        <result property="faceVerifyResult" column="face_verify_result" />
        <result property="gender" column="gender" />
        <result property="status" column="status" />
        <result property="realAuthStatus" column="real_auth_status" />
        <result property="realAuthFailReason" column="real_auth_fail_reason" />
        <result property="realAuthReviewBy" column="real_auth_review_by" />
        <result property="realAuthReviewTime" column="real_auth_review_time" />
        <result property="adminRemark" column="admin_remark" />
        <result property="createTime" column="create_time" />
        <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="selectMiniUserVo">
        select id, open_id, union_id, nick_name, avatar_url, phone, real_name, id_card_name, id_card_number, face_image_url, face_verify_result, gender, status, real_auth_status, real_auth_fail_reason, real_auth_review_by, real_auth_review_time, admin_remark, create_time, update_time
        from ccp_mini_user
    </sql>

    <select id="selectMiniUserById" resultMap="MiniUserResult">
        <include refid="selectMiniUserVo" />
        where id = #{id}
    </select>

    <select id="selectMiniUserByOpenId" resultMap="MiniUserResult">
        <include refid="selectMiniUserVo" />
        where open_id = #{openId}
        limit 1
    </select>

    <select id="selectMiniUserList" resultMap="MiniUserResult">
        <include refid="selectMiniUserVo" />
        <where>
            <if test="nickName != null and nickName != ''">
                and nick_name like concat('%', #{nickName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="realAuthStatus != null">
                and real_auth_status = #{realAuthStatus}
            </if>
            <if test="beginTime != null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <select id="selectMiniUserExportList" resultMap="MiniUserResult">
        <include refid="selectMiniUserVo" />
        <where>
            <if test="nickName != null and nickName != ''">
                and nick_name like concat('%', #{nickName}, '%')
            </if>
            <if test="phone != null and phone != ''">
                and phone = #{phone}
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="realAuthStatus != null">
                and real_auth_status = #{realAuthStatus}
            </if>
            <if test="beginTime != null">
                and create_time &gt;= #{beginTime}
            </if>
            <if test="endTime != null">
                and create_time &lt;= #{endTime}
            </if>
        </where>
        order by create_time desc
    </select>

    <insert id="insertMiniUser" parameterType="org.ba7lgj.ccp.common.domain.MiniUser" useGeneratedKeys="true" keyProperty="id">
        insert into ccp_mini_user(open_id, union_id, nick_name, avatar_url, phone, real_name, id_card_name, id_card_number, face_image_url, face_verify_result, gender, status, real_auth_status, real_auth_fail_reason, real_auth_review_by, real_auth_review_time, admin_remark)
        values(#{openId}, #{unionId}, #{nickName}, #{avatarUrl}, #{phone}, #{realName}, #{idCardName}, #{idCardNumber}, #{faceImageUrl}, #{faceVerifyResult}, #{gender}, #{status}, #{realAuthStatus}, #{realAuthFailReason}, #{realAuthReviewBy}, #{realAuthReviewTime}, #{adminRemark})
    </insert>

    <update id="updateMiniUser" parameterType="org.ba7lgj.ccp.common.domain.MiniUser">
        update ccp_mini_user
        <set>
            <if test="openId != null">open_id = #{openId},</if>
            <if test="unionId != null">union_id = #{unionId},</if>
            <if test="nickName != null">nick_name = #{nickName},</if>
            <if test="avatarUrl != null">avatar_url = #{avatarUrl},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="idCardName != null">id_card_name = #{idCardName},</if>
            <if test="idCardNumber != null">id_card_number = #{idCardNumber},</if>
            <if test="faceImageUrl != null">face_image_url = #{faceImageUrl},</if>
            <if test="faceVerifyResult != null">face_verify_result = #{faceVerifyResult},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="status != null">status = #{status},</if>
            <if test="realAuthStatus != null">real_auth_status = #{realAuthStatus},</if>
            <if test="realAuthFailReason != null">real_auth_fail_reason = #{realAuthFailReason},</if>
            <if test="realAuthReviewBy != null">real_auth_review_by = #{realAuthReviewBy},</if>
            <if test="realAuthReviewTime != null">real_auth_review_time = #{realAuthReviewTime},</if>
            <if test="adminRemark != null">admin_remark = #{adminRemark},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="deleteMiniUserById">
        delete from ccp_mini_user where id = #{id}
    </delete>

    <delete id="deleteMiniUserByIds">
        delete from ccp_mini_user where id in
        <foreach item="item" collection="array" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>
</mapper>
